@model UserEventRegistration
@{
    ViewData["Title"] = "Регистрация на событие";
}


<form asp-action="UserRegistration" asp-controller="home">
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="ma" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Group" class="control-label">Группа</label>
        <input type="text" asp-for="Group" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UniversityGraduationDate" class="control-label">Дата окончания университета</label>
        <input type="text" asp-for="UniversityGraduationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание ХЗ</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FullName" class="control-label">Полное имя и фамилия</label>
        <input type="text" asp-for="FullName" class="form-control" />
    </div>
        <div class="form-group">
        <label asp-for="Phone" class="control-label">Телефон</label>
        <input type="text" asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>